body {
    background-color: #2f4f30;
    color: white;
}
img {
    width: 100%;
}
.title {
    padding: .5em;
    text-align: center;
    color: white;
    background-color: black;
}
.carta{
    position: relative;
    left: 100px;
    margin-left: -75px;
    width: 150px;
}

#jugador-cartas,
#computadora-cartas {
    height: 240px;
}